<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="info">
                    <div class="logo-img">
                        <img src="/assets/layouts/logo.jpg" alt="">
                    </div>
                    <p>
                        Raqamyat is an Egyptian multimillion Fintech shareholding company licensed 
                        <a href="http://" target="_blank" rel="noopener noreferrer">Read More</a>
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img src="/assets/layouts/linked.svg" alt="" srcset="">
                            </a>
                        </li>
                        <li>
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img src="/assets/layouts/fb.svg" alt="" srcset="">
                            </a>
                        </li>
                        <li>
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img src="/assets/layouts/twitter.svg" alt="" srcset="">
                            </a>
                        </li>
                        <li>
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img src="/assets/layouts/insta.svg" alt="" srcset="">
                            </a>
                        </li>
                        <li>
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img src="/assets/layouts/youtube.svg" alt="" srcset="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="links">
                    <header>
                        <h3>About Us</h3>
                    </header>
                    <article>
                        <ul class="list-unstyled">
                            <li>
                                <a href="">
                                    Blog
                                </a>    
                            </li>
                            <li>
                                <a href="">
                                    Media
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Our Company
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    News
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="links">
                    <header>
                        <h3>Services</h3>
                    </header>
                    <article>
                        <ul class="list-unstyled">
                            <li>
                                <a href="">
                                    Development
                                </a>    
                            </li>
                            <li>
                                <a href="">
                                    Operations
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Marketing
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="links">
                    <header>
                        <h3>Contact Us</h3>
                    </header>
                    <article>
                        <ul class="list-unstyled">
                            <li>
                                <a href="">
                                    <img src="/assets/layouts/mail.svg" alt="" srcset="">
                                    info@raqamyat.com
                                </a>    
                            </li>
                            <li>
                                <a href="">
                                    <img src="/assets/layouts/phone.svg" alt="" srcset="">
                                    00201050859295
                                </a>  
                            </li>
                            <li>
                                <a href="">
                                    <img src="/assets/layouts/location.svg" alt="" srcset="">
                                    1D/4 AlNasr Road New Maadi, Cairo 11728, EG
                                </a>  
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</footer>