/* You can add global styles to this file, and also import other style files */
// 
@font-face {
    font-family: 'GothamBookItalic';
    src: url('/assets/fonts/GothamBookItalic.otf');
}
@font-face {
    font-family: 'GothamBook';
    src: url('/assets/fonts/GothamBook.ttf');
}
@font-face {
    font-family: 'GothamBold';
    src: url('/assets/fonts/GothamBold.otf');
}