<section class="home-page">
    <!-- Start About Section -->
    <section class="about-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="about-img">
                        <figure>
                            <img class="w-100" src="/assets/home/about.jpg" alt="" srcset="">
                            <figcaption>
                                <p>
                                    Raqamyat's headquarter is in Maadi, Cairo, Egypt, and is well-connected to the market's key players of E-Payment Gateways, E-Payment Facilitators (locally and internationally), Merchants, and Shoppers of all levels.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="about-info">
                        <header>
                            <h3>
                                <span class="d-block">
                                    About
                                </span> The 
                                <span>Company</span>
                            </h3>
                        </header>
                        <article>
                            <p>
                                Raqamyat is an Egyptian multimillion Fintech shareholding company licensed under the Egyptian General Authority for Investment & Free Zones (GAFI). Raqamyat provides integrated solutions for Electronic Payments (E-Payments) and Electronic Commerce (E-Commerce) to maximize profitability and market outreach for service providers and their targeted customers.
                            </p>
                            <p>
                                We architect and develop e-payment and e-commerce solutions in order to handle all aspects of e-payment management, billing, mobile payments, contactless payments, settlement, point of sale, card issuing, card acquiring, microfinance, and electronic payments processing.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
</section>